::ng-deep.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2.25rem;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border-right: 0px solid !important;
}

::ng-deep .input-group-addon {
  margin-bottom: 0px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: rgb(73, 80, 87);
  text-align: center;
  background-color: rgb(233, 236, 239);
  padding: 0.5rem 0.75rem;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.15);
  border-image: initial;
  border-radius: 0 38px 38px 0;
}

::ng-deep .input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.menu {
  color: #2291ee;
  font-size: 20px;
}

.img-slider {
  height: 550px;
  width: 100%;
}

::ng-deep .carousel-indicators li {
  width: 0.625rem;
  height: 0.625rem;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  or: pointer;
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

.carousel-control-next-icon {
  border-radius: 100%;
  width: 45px;
  height: 45px;
  padding: 26px;
  right: -0.3%;
  top: 46%;
  background-image: url(/assets/image/next.png);
  background-size: 40px 40px;
}

.carousel-control-prev-icon {
  border-radius: 100%;
  width: 45px;
  height: 45px;
  padding: 26px;
  left: -0.5%;
  top: 46%;
  background-image: url(/assets/image/previous.png);
  background-size: 40px 40px;
}

.text-promo {
  font-family: barlow;
  font-size: 40px;
  font-weight: 600;
  color: #133d60;
}

.card-univ {
  background-color: #fff;
  border-radius: 5px;
  padding: 0 0 10px 0;
  -webkit-box-shadow: -1px 0px 13px 2px #ccc;
  margin-bottom: 20px;
  /* width: 220px;
  height: 220px; */
  text-align: center;
  margin: 20px;
}

.img-univ {
  height: 204px;
  width: 204px;
  padding: 16px;
}

.lihat-semua {
  /* font-size: 20px;
  font-family: OpenSans-Bold; */
  color: #fc0152;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.jurusan {
  position: relative;
  text-align: center;
  color: white;
  /* height: 200px; */
  width: 285px;
  margin: 10px;
}

.text-jurusan {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 45%;
  transform: translate(-50%, -50%);
  font-size: 35px;
}

.text-training {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 45%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

.banner {
  position: relative;
  text-align: center;
  color: white;
  height: 400px;
  width: 100%;
  /* margin: 10px; */
}

.text-banner {
  position: absolute;
  top: 30%;
  width: 100%;
  /* margin: auto; */
  left: 45%;
  /* -webkit-transform: translate(-50%, -50%); */
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #fff;
}

.request {
  background-image: url(/assets/image/mask.png);
  height: 600px;
  width: 100%;
}

.img-request {
  height: 450px;
  width: auto;
  margin-left: 20px;
}

.cerita-mahasiswa {
  position: absolute;
  top: 50%;
  width: 50%;
  left: 74%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 35px;
}

.title {
  font-family: Barlow-SemiBold;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.position {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: italic;
  color: #fff;
}

.description {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-style: italic;
  color: #fff;
}

.container-review {
  /* background-color: pink; */
  border-radius: 5px;
  margin-top: 20px;
}

::ng-deep .card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem;
  padding: 0;
}

.title-dosen {
  font-family: Barlow-SemiBold;
  font-size: 25px;
  letter-spacing: 1.58px;
}

.position-dosen {
  font-family: OpenSans;
  font-size: 15px;
  font-style: italic;
  letter-spacing: 0.92px;
}

.description-dosen {
  font-family: OpenSans;
  font-size: 15px;
  letter-spacing: 0.92px;
}

.sub-title {
  font-size: 30px;
  font-family: OpenSans;
}

.price {
  font-family: Barlow-ExtraBold;
  color: #0baae8;
  font-size: 30px;
}

.newsLetter {
  position: relative;
  text-align: center;
  color: white;
  background-image: url(./../assets/image/bg-newslatter.png);
  height: 250px;
}

.text-newsLetter {
  position: absolute;
  top: 24%;
  margin: auto;
  width: 59%;
  left: 51%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 35px;
  display: -ms-flexbox !important;
  display: flex;
}

form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  float: left;
  width: 600px;
  background: #fff;
  border-radius: 10px;
  height: 56px;
  position: absolute;
  top: 72%;
  left: 51%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

form.example button {
  float: left;
  width: 200px;
  padding: 8px;
  background: #f94451;
  color: white;
  font-size: 17px;
  border-left: none;
  cursor: pointer;
  border-radius: 10px;
  height: 46px;
  margin-left: -19%;
  margin-top: 6px;
  margin-right: -1px;
  position: absolute;
  top: 69.8%;
  left: 85%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.footer {
  background-image: url(./../assets/image/bg-footer.png);
  height: 500px;
  color: #fff
}

.footer-title {
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  text-align: left;
}

.footer-subtitle {
  font-size: 15px;
  text-align: left;
}

.footer-small {
  font-size: 10px;
  font-style: italic;
  text-align: right;
  margin-top: 10px;
  margin-right: -80px;
}

.img-logo-w{
  width: 180px;
  height: 63px;
}

.img-socmed {
  width: 26px;
  height:26px ;
  margin: 0 12px 0 0px;
}