::ng-deep.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2.25rem;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border-right: 0px solid !important;
}

::ng-deep .input-group-addon {
  margin-bottom: 0px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: rgb(73, 80, 87);
  text-align: center;
  background-color: rgb(233, 236, 239);
  padding: 0.5rem 0.75rem;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.15);
  border-image: initial;
  border-radius: 0 38px 38px 0;
}

::ng-deep .input-group {
  position: relative;
  display: -ms-flexbox;
  /* display: flex; */
  width: 100%;
}

.input-group .form-control {
  height: 51px;
  width: 464px;
}

.input-group .form-control {
  height: 51px;
}

.menu {
  color: #2291ee !important;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  margin-right: 59px;
  margin-left: 23px;
}

.img-slider {
  height: 850px;
  width: 100%;
}

::ng-deep .carousel-indicators li {
  width: 0.625rem;
  height: 0.625rem;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  or: pointer;
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

.carousel-control-next-icon {
  border-radius: 100%;
  width: 45px;
  height: 45px;
  padding: 26px;
  right: -0.3%;
  top: 46%;
  background-image: url(/assets/image/next.png);
  background-size: 40px 40px;
}

.carousel-control-prev-icon {
  border-radius: 100%;
  width: 45px;
  height: 45px;
  padding: 26px;
  left: -0.5%;
  top: 46%;
  background-image: url(/assets/image/previous.png);
  background-size: 40px 40px;
}

.text-promo {
  font-family: "Barlow", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #133d60;
}

.card-univ {
  background-color: #fff;
  border-radius: 5px;
  padding: 0 0 10px 0;
  box-shadow: 0 2px 14px 2px rgba(0, 0, 0, 0.08);
  /* -webkit-box-shadow: -1px 0px 13px 2px #ccc; */
  margin-bottom: 20px;
  /* width: 220px;
  height: 220px; */
  text-align: center;
  margin: 40px;
}

.img-univ {
  height: 280px;
  width: 280px;
  padding: 16px;
}

.text-univ {
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  height: 100px;
  padding: 10px 0;
  color: #133d60;
  font-size: 34px;
  font-weight: 700;
  width: 285px;
  margin: 0 40px;
}

.lihat-semua {
  /* font-size: 20px;
  font-family: OpenSans-Bold; */
  color: #fc0152;
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin: 20px 60px;
}

.baca-selengkapnya {
  /* font-size: 20px;
  font-family: OpenSans-Bold; */
  color: #fc0152;
  font-size: 21px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  position: absolute;
  bottom: 30px;
}

.lihat-semua-dosen,
.lihat-semua-ptraining {
  color: #fc0152;
  /* margin-left: 125px; */
  width: 100%;
  padding-right: 20px;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  transform-origin: top right;
  transform: rotate(0deg) translateY(65px);
}

.jurusan {
  position: relative;
  text-align: center;
  color: white;
  width: 404px;
  height: 198px;
  margin: 0 15px 0 50px;
}

.text-jurusan {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 42px;
}

.text-training {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 42px;
}

.banner {
  position: relative;
  text-align: center;
  color: white;
  /* height: 400px; */
  width: 100%;
  /* margin: 10px; */
}

.text-banner {
  position: absolute;
  top: 30%;
  width: 100%;
  /* margin: auto; */
  left: 45%;
  /* -webkit-transform: translate(-50%, -50%); */
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #fff;
}

.request {
  /* background-image: url(/assets/image/mask.png); */
  background-color: #ffcc01;
  height: 1087px;
  width: 100%;
  margin: 0 !important;
}

.img-request {
  height: 1087px;
  width: 1150px;
}

.cerita-mahasiswa {
  position: absolute;
  top: 50%;
  width: 50%;
  left: 74%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 35px;
}

.tampung-review {
  margin: 3rem 50px 0 50px;
}

.title-review {
  font-weight: 600;
  font-family: "Barlow", sans-serif;
  font-size: 46px;
  color: #fff;
  font-weight: 600;
}

.position-review {
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-style: italic;
  color: #fff;
}

.description-review {
  font-family: "Open Sans", sans-serif;
  font-size: 23px;
  font-style: italic;
  color: #fff;
}

.container-dosen {
  width: 100%;
  padding: 45px 35px;
}

.container-ptraining-desk {
  width: 100%;
  padding: 25px 35px;
}

.container-ptraining {
  width: 100%;
  height: 310px;
}

.container-review {
  /* background-color: pink; */
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px 25px;
}

::ng-deep .card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  /* border-radius: 0.5rem; */
  border-radius: 8px;
  padding: 0;
  width: 555px;
  height: 760px;
}

.card-ptraining-desk {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem;
  padding: 0;
  width: 555px;
  height: 760px;
}

.btn-detail {
  width: 278px;
  height: 75px;
  font-size: 35px;
  font-weight: 700;
  background-color: #f84851;
  border: none;
  border-radius: 7px;
  position: absolute;
  bottom: 20px;
  left: 130px;
}

.img-dosen {
  width: 100%;
  height: 330px;
}

.title-dosen,
.title-ptraining {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 31px;
  letter-spacing: 1.58px;
}

.title-ptraining-desk {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 37px;
  letter-spacing: 1.58px;
}

.position-dosen,
.position-ptraining {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: italic;
  letter-spacing: 0.92px;
  font-weight: 100;
}

.description-dosen,
.description-ptraining {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  letter-spacing: 0.92px;
  font-weight: 100;
}

.description-ptraining-desk {
  font-family: "Open Sans", sans-serif;
  font-size: 23px;
  letter-spacing: 0.92px;
  font-weight: 100;
}

.sub-title {
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}

.price-training {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  color: #0baae8;
  font-size: 30px;
}

.price-ptraining-desk {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  color: #0baae8;
  font-size: 42px;
}

.newsLetter {
  position: relative;
  text-align: center;
  color: white;
  background-image: url(./../assets/image/bg-newslatter.png);
  height: 426px;
}

.text-newsLetter {
  position: absolute;
  top: 24%;
  margin: auto;
  width: 59%;
  left: 51%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -ms-flexbox !important;
  display: flex;
  font-size: 60px;
  font-weight: 700;
}

input:focus {
  outline: none;
  border-bottom: 3px solid;
}

select:focus {
  border-bottom: 2px solid;
}

input .select {
  outline: none;
}
form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  float: left;
  width: 854px;
  background: #fff;
  border-radius: 10px;
  height: 88px;
  position: absolute;
  top: 72%;
  left: 51%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

form.example button {
  float: left;
  width: 257px;
  padding: 8px;
  background: #f94451;
  color: white;
  font-size: 35px;
  font-weight: 700;
  border-left: none;
  cursor: pointer;
  border-radius: 10px;
  height: 68px;
  margin-left: -19%;
  margin-top: 10px;
  margin-right: -1px;
  position: absolute;
  top: 69.8%;
  left: 85%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.media-sosial {
  font-size: 27px;
  font-weight: 700;
  letter-spacing: 1.9px;
  margin-top: 50px;
}

.footer-left {
  width: 25%;
}

.footer-right {
  width: 60.66%;
  margin-top: 40px;
  margin-left: 150px;
}

.footer-bottom {
  width: 94%;
  margin-top: 30px;
  margin-left: 30px;
}

.footer-desc {
  font-size: 21px;
  line-height: 35px;
  letter-spacing: 1.7px;
}

.footer {
  background-image: url(./../assets/image/bg-footer.png);
  height: 350px;
  color: #fff;
}

.footer-title {
  font-size: 42px;
  font-weight: 700;
  font-style: italic;
  text-align: left;
}

.footer-subtitle {
  font-size: 27px;
  text-align: left;
  margin: 30px 0;
}

.footer-small {
  font-size: 20px;
  font-style: italic;
  text-align: right;
}

.img-logo-w {
  width: 265px;
  height: 85px;
}

.img-socmed {
  width: 40px;
  height: 40px;
  margin: 0 30px 0 0px;
}
.fade {
  opacity: 1;
  transition: opacity 0.15s linear;
  padding: 30px 40px;
}

.fade:not(.show) {
  opacity: 0;
}

.img-tabmenu {
  width: 780px;
  height: 400px;
  border-radius: 10px;
}

.tab-description {
  font-size: 35px;
  font-weight: 700;
  margin-top: 50px;
  color: #133d60;
}

.mobileIngintahu {
  padding: 20px 150px 0;
}

.btn-ingintahu {
  background-color: #f84851;
  color: white;
  font-size: 31px;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 8px;
  width: 304px;
  height: 80px;
  margin: 30px;
}

.title-ingintahu {
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
}

.subtitle-ingintahu {
  font-size: 23px;
  text-align: center;
  padding: 0 60px;
}

.text-ingintahu {
  display: block;
  width: 80%;
  font-size: 27px;
  font-style: italic;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-radius: 0;
  border: 0;
  padding: 5px 0;
  border-bottom: 1px solid #133d60;
  color: #133d60;
  background: #ffcc01;
  margin: 65px 10%;
  outline: none;
}

.text-ingintahu::placeholder {
  color: #133d60;
}

section.section {
  background: transparent;
}

.slideshow {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
}

.slideshow > .slide > img {
  max-width: 100%;
  width: 100%;
}

.slideshow > .slick-prev:before,
.slick-next:before {
  color: black;
}

.font-heading {
  font-size: 70px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-60 {
  margin-left: 60px;
}

.ml-70 {
  margin-left: 70px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-60 {
  margin-right: 60px;
}

.mr-70 {
  margin-right: 70px !important;
}

.mb-60 {
  margin-bottom: 60px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-90 {
  margin-top: 90px;
}

.tampung-tab {
  margin: 3rem;
}

.with-nav-tabs.panel-primary > .panel-body {
  box-shadow: 0 -1px 14px 2px rgba(0, 0, 0, 0.08);
  border-radius: 10px 10px 10px 10px;
}

.with-nav-tabs.panel-primary {
  margin-left: 15px;
  width: 1773px;
  /* height: 102px; */
}

.with-nav-tabs.panel-primary,
.with-nav-tabs.panel-primary .nav-tabs {
  border: none;
}

.with-nav-tabs.panel-primary > .panel-heading {
  padding: 10px 15px 0px 15px;
  border-bottom: none;
  background-color: white;
}

.with-nav-tabs.panel-primary .nav-tabs > li > a.active {
  background-color: white;
}

.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
  color: #133d60;
  font-weight: bold;
  background-color: #e6e4e4;
  margin: 0 18px 0 28px;
  padding: 15px 55px;
  box-shadow: 0 -10px 14px 2px rgba(0, 0, 0, 0.08);
  border-radius: 10px 10px 0 0;
  font-size: 25px;
  border-bottom: 1px solid white;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
  background-color: white;
  border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
  color: #133d60;
  background-color: #fff;
  border-color: transparent;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
  background-color: #428bca;
  border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
  color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
  background-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
  background-color: #4a9fe9;
}

.bg-light {
  background-color: #fff !important;
}

.img-logo-header {
  margin-top: -14px;
  width: 187px;
  height: 59px;
}

.header-top {
  margin-top: 7px;
}

.header-top > a > .btn-cerita-mahasiswa {
  margin-left: 100px;
}

.img-banner {
  height: 400px;
  width: 100%;
}

.img-cerita {
  height: 480px;
  width: 864px;
  background-size: 864px 480px !important;
  border-radius: 8px;
}
.bg-cerita-mahasiswa {
  height: 480px;
  width: 864px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
.btn-cerita-mahasiswa {
  color: #fff;
  font-size: 23px;
  font-weight: 900;
  background-color: #f94451;
  border: 1px solid #f94451;
  border-radius: 5px;
  width: 220px;
  height: 50px;
}
.btn-request {
  color: #fff;
  font-size: 23px;
  font-weight: 900;
  background-color: #f94451;
  border: 1px solid #f94451;
  border-radius: 5px;
  width: 220px;
  height: 50px;
  margin-left: -36px;
}
.dekstop {
  display: block;
}
.mobile {
  display: none !important;
}
.menu-close {
  display: block;
}

.navbar-nav > li > a {
  padding-top: 22px;
}

::ng-deep .navbar-light .navbar-toggler {
  position: absolute;
  /* color: none !important;
  border-color: none !important; */
}

.blablabla-mobile {
  display: none;
}

.footer-mobile {
  display: none !important;
}

.footer-dekstop {
  display: block;
  height: 700px;
  padding: 40px 0px 0px 70px;
}

.slideshow .slide img {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);

  max-width: 100%;
  width: 100%;
}

.slideshow .slick-prev:before,
.slick-next:before {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);

  color: black;
}

.btn-bottom {
  position: absolute;
  width: 100%;
  bottom: 10px;
}
/* @media (max-width: 768px) {
  .dekstop {
    display: block;
  }
  .mobile {
    display: none;
  }
  .menu-close {
    display: block;
  }
} */
@media (max-width: 480px) {
  .dekstop {
    display: none;
  }
  .mobile {
    display: block !important;
  }
  .menu-close {
    display: none;
  }
  .header-top {
    margin-top: 10px;
  }
  .img-logo-header {
    margin-top: -40px;
    width: 86px;
    height: 27px;
    margin-left: 145px;
    background-color: white;
  }
  .mobile-menu {
    margin-top: -33px;
    margin-left: 280px;
  }
  .search-icon {
    margin: 4px 10px 3px 24px;
  }
  .navbar-light .navbar-toggler {
    /* margin-left: -110px; */
    position: absolute;
    color: rgba(0, 0, 0, 0.5);
    border-color: white !important;
  }
  .navbar {
    margin-bottom: -25px;
  }
  .img-slider {
    height: 300px;
    width: 480px;
  }
  .text-promo[_ngcontent-c0] {
    font-size: 30px;
    padding: 10px;
    letter-spacing: 0.8px;
  }
  .img-banner {
    height: 150px;
    width: 480px;
  }
  .img-cerita {
    height: 244px;
    width: 440px;
    background-size: 440px 244px !important;
    border-radius: 8px;
  }
  .bg-cerita-mahasiswa {
    height: 244px;
    width: 440px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
  }

  .text-newsLetter {
    width: 83%;
    /* margin: 20px; */
    left: 49%;
    /* font-size: 20px; */
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 29px;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
  }
  form.example input[type="text"] {
    width: 406px;
    height: 42px;
    top: 72%;
    left: 51%;
  }
  form.example button {
    width: 110px;
    padding: 6px;
    font-size: 17px;
    height: 35px;
    margin-left: -4%;
    margin-top: 4px;
    margin-right: -1px;
  }
  /* .footer {
    background-image: url(./../assets/image/bg-footer.png);
    height: 984px;
    color: #fff;
  } */

  ::ng-deep .navbar-light .navbar-toggler-icon {
    margin-left: -365px;
  }
  ::ng-deep .navbar-light .navbar-toggler {
    /* color: none !important;
    border-color: none !important; */
  }

  .blablabla-mobile {
    display: block;
  }
  .footer-mobile {
    display: block !important;
  }

  .footer-dekstop {
    display: none;
  }
  .footer {
    background-image: url(./../assets/image/bg-footer.png);
    height: 80%;
    color: #fff;
  }
  .border-footer-copy {
    border-bottom: 2px solid grey;
    width: 95%;
    margin: auto;
  }
  .border-footer-bold {
    border-bottom: 2px solid;
    width: 95%;
    margin: auto;
  }
  .footer-small-mobile {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    margin-top: 10px;
    letter-spacing: 1.14px;
    line-height: 20px;
  }

  .pannel-width {
    width: 42%;
  }

  ::ng-deep .panel-default > .panel-heading {
    background-color: transparent !important;
  }

  .panel {
    background-color: transparent !important;
    border: 1px solid transparent;
  }

  /* .panel-title>a, .panel-title>a:active{
	display:block;
	padding:15px;
  color:#555;
  font-size:16px;
  font-weight:bold;
	text-transform:uppercase;
	letter-spacing:1px;
  word-spacing:3px;
	text-decoration:none;
} */
  /* .panel-heading  a:before {
   font-family: 'Glyphicons Halflings';
   content: "\e114";
   float: right;
   transition: all 0.5s;
}
.panel-heading.active a:before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}  */
  .footer-title {
    font-size: 28px;
    font-weight: 700;
    font-style: italic;
    text-align: left;
    color: white;
    /* margin-left: 130px; */
  }
  .footer-subtitle {
    font-size: 17px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
  }

  .input-group-addon {
    color: #fc0152;
    background-color: #ededed !important;
    border-color: #ededed;
    font-weight: 400;
  }

  .panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: "Glyphicons Halflings"; /* essential for enabling glyphicon */
    content: "\e114"; /* adjust as needed, taken from bootstrap.css */
    float: right; /* adjust as needed */
    color: white; /* adjust as needed */
    font-size: 15px;
    margin-right: 130px;
    margin-top: 10px;
  }
  .panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080"; /* adjust as needed, taken from bootstrap.css */
    font-size: 15px;
    margin-right: 130px;
    margin-top: 10px;
  }

  a:focus,
  a:hover {
    text-decoration: none;
  }

  .panel-group .panel-heading + .panel-collapse > .list-group,
  .panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: 1px solid transparent;
  }

  .panel-heading button:before {
    font-family: "Glyphicons Halflings";
    content: "\e114";
    float: right;
    transition: all 0.5s;
  }
  .panel-heading.active button:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .collapsed > .when-opened,
  :not(.collapsed) > .when-closed {
    display: none;
  }

  .card-ijazah {
    box-shadow: 0 2px 14px 2px rgba(0, 0, 0, 0.08);
    border: none;
    margin: 0 20px;
    border-radius: 8px;
  }

  .card-ijazah > .collapse {
    height: 360px;
  }

  .card-header {
    background-color: white;
    border: none;
    text-align: center;
    height: 75px;
    border-radius: 8px;
  }

  .btn-ijazah {
    font-size: 20px;
    color: #133d60;
    font-weight: 700;
  }

  .tab-description {
    padding: 0 20px;
    text-align: center;
    font-size: 15px;
    font-weight: 100;
    margin-top: 0;
    font-family: "Open sans", sans-serif;
  }

  .input-group .form-control {
    height: 30px;
    width: 371px;
    margin-left: -17px;
    background-color: #f6f6f6;
    border: 1px solid #ededed;
  }
  input::placeholder {
    font-style: italic;
  }
}

.container-dosen {
  padding: 15px 35px;
}

.horizontal-dosen,
.horizontal-ptraining {
  display: block;
  top: 0;
  left: 0;
  width: 560px;
  max-height: 435px;
  margin: 0;
  /* background:#abc; */
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg) translateY(-80px);
  transform-origin: right top;
}

.horizontal-dosen > .card-dosen,
.horizontal-ptraining > .card-ptraining {
  display: block;
  /* padding:5px; */
  /* background:#cab; */
  transform: rotate(90deg);
  /* transform-origin: right top; */
}

.horizontal-dosen > .card-dosen-training,
.horizontal-ptraining > .card-ptraining-training {
  display: block;
  /* padding:5px; */
  /* background:#cab; */
  transform: rotate(90deg);
  /* transform-origin: right top; */
}

.horizontal-scroll-wrapper {
  /* position:absolute; */
  display: block;
  top: 0;
  left: 0;
  width: 560px;
  max-height: 480px;
  margin: 0;
  /* background:#abc; */
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg) translateY(-80px);
  transform-origin: right top;
}
.horizontal-scroll-wrapper > .card-image {
  display: block;
  /* padding:5px; */
  /* background:#cab; */
  transform: rotate(90deg);
  /* transform-origin: right top; */
}

.horizontal-scroll-wrapper > .card-text {
  display: block;
  width: 210px;
  /* padding:5px; */
  /* background:#cab; */
  transform: rotate(90deg);
  /* transform-origin: right top; */
}

.squares {
  /* padding:60px 0 0 0; */
  /* margin-left: -160px; */
  margin-left: -480px;
}

.squares > .card-image {
  /* margin:30px; */
  margin: -130px 30px -300px;
}

.squares > .card-text {
  /* margin:30px; */
  /* margin: -130px 30px -235px; */
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 2px;
  height: 2px;
}

.btn-training {
  width: 155px;
  height: 40px;
  font-size: 18px;
  margin-bottom: 10px;
  background-color: #f94451;
  border: 1px solid #f94451;
  font-weight: 800;
}

.mobileUniv,
.mobileJurusan,
.mobileTraining,
.mobileDosen {
  display: none;
}

.desktopUniv,
.desktopJurusan,
.desktopTraining,
.desktopDosen {
  display: block;
}

.desktopDosen {
  margin: 0 60px !important;
}

@media (max-width: 370px) {
  .lihat-semua-dosen {
    margin-left: 115px;
    transform: rotate(0deg) translateY(35px);
  }
}

@media (max-width: 480px) {
  .mobileUniv,
  .mobileJurusan,
  .mobileTraining,
  .mobileDosen {
    display: block;
  }

  .mobileUniv {
    margin-bottom: 60px !important;
    margin-top: -70px !important;
  }

  .desktopUniv,
  .desktopJurusan,
  .desktopTraining,
  .desktopDosen {
    display: none;
  }

  .card-univ {
    margin: 15px;
  }

  .img-univ {
    height: 108px;
    width: 108px;
    padding: 16px;
  }

  .text-univ {
    background-color: transparent;
    padding: 15px 0px;
    font-size: 13px;
    width: 108px;
    margin-left: 190px;
    margin-top: -15px;
  }

  .horizontal-scroll-wrapper {
    display: block;
    top: 0;
    left: 0;
    width: 560px;
    height: 450px;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transform: rotate(-90deg) translateY(-80px);
    transform-origin: right top;
  }
  .horizontal-scroll-wrapper > .card-text {
    display: block;
    width: 120px;
    /* padding:5px; */
    /* background:#cab; */
    transform: rotate(90deg);
    /* transform-origin: right top; */
  }
  .squares {
    /* padding:60px 0 0 0; */
    /* margin-left: -160px; */
    margin-left: -500px;
  }
  .squares > .card-image {
    /* margin:30px; */
    margin: -140px 30px -290px;
  }

  .squares > .card-image > .card-text {
    margin-bottom: -40px;
    /* width: 100px; */
    /* margin:30px; */
    /* margin: -130px 30px -235px; */
  }

  /* styling horizontal jurusan */

  .img-jurusan {
    /* height: 115px;
    width: 190px; */
    height: 79px;
    width: 168px;
    border-radius: 8px;
  }
  .text-jurusan {
    background-color: transparent;
    border-radius: 5px;
    text-align: center;
    height: 50px;
    padding: 10px;
    color: white;
    font-size: 17px;
    font-weight: 700;
    width: 180px;
    font-family: "Barlow", sans-serif;
  }
  .horizontal-jurusan {
    /* position:absolute; */
    display: block;
    top: 0;
    left: 0;
    width: 560px;
    height: 435px;
    margin: 0;
    margin-top: -220px;
    /* background:#abc; */
    overflow-y: auto;
    overflow-x: hidden;
    transform: rotate(-90deg) translateY(-80px);
    transform-origin: right top;
  }

  .horizontal-jurusan > .card-image-jurusan {
    display: block;
    /* padding:5px; */
    /* background:#cab; */
    transform: rotate(90deg);
    /* transform-origin: right top; */
  }

  .horizontal-jurusan > .card-text-jurusan {
    display: block;
    width: 120px;
    /* padding:5px; */
    /* background:#cab; */
    transform: rotate(90deg);
    /* transform-origin: right top; */
  }

  .squares-jurusan {
    /* padding:60px 0 0 0; */
    /* margin-left: -160px; */
    margin-left: -500px;
    margin-top: -320px;
  }

  .squares-jurusan > .card-image-jurusan {
    /* margin:30px; */
    /* margin: -140px 30px -290px; */
    /* margin: 110px 100px 0px; */
    /* margin: 110px 130px 0px; */
    margin: 50px 0 160px 145px;
    width: 175px;
  }

  .squares-jurusan > .card-image-jurusan > .card-text-jurusan {
    margin-bottom: -60px;
    /* width: 100px; */
    /* margin:30px; */
    /* margin: -130px 30px -235px; */
  }

  .squares-dosen,
  .squares-ptraining {
    /* padding:60px 0 0 0; */
    /* margin-left: -160px; */
    margin-left: -500px;
  }

  .horizontal-dosen > .card-dosen,
  .horizontal-ptraining > .card-ptraining {
    /* width: 360px; */
    /* margin: 0px 0 -80px 70px; */
    margin: 3px 0px -145px 33px;
  }

  .horizontal-dosen > .card-dosen > .card,
  .horizontal-ptraining > .card-ptraining > .card {
    width: 362px;
    height: 525px;
    border-radius: 8px;
  }

  .horizontal-dosen > .card-dosen > .card > .container-dosen > .title-dosen,
  .horizontal-ptraining > .card-ptraining > .card > .container-ptraining > .title-ptraining {
    font-size: 20px;
    margin-top: 10px;
  }

  .horizontal-dosen > .card-dosen > .card > .container-dosen > .position-dosen,
  .horizontal-ptraining > .card-ptraining > .card > .container-ptraining > .position-ptraining {
    font-size: 12px;
  }

  .horizontal-dosen > .card-dosen > .card > .container-dosen > .description-dosen,
  .horizontal-ptraining > .card-ptraining > .card > .container-ptraining > .description-ptraining {
    font-size: 14px;
  }

  .horizontal-dosen > .card-dosen-training {
    /* width: 360px; */
    margin: 0px 0 -100px 70px;
  }

  .horizontal-ptraining > .card-ptraining-training {
    margin: -10px 0px -150px 32px;
  }

  .horizontal-dosen > .card-dosen-training > .card,
  .horizontal-ptraining > .card-ptraining-training > .card {
    width: 390px;
    height: 550px;
  }

  .horizontal-dosen > .card-dosen-training > .card > .container-dosen > .title-dosen-training,
  .horizontal-ptraining > .card-ptraining-training > .card > .container-ptraining > .title-ptraining-training {
    font-size: 26px;
    margin-top: 10px;
  }

  .horizontal-ptraining > .card-ptraining-training > .card > .container-ptraining > .description-ptraining {
    font-size: 15px;
  }

  .horizontal-dosen > .card-dosen-training > .card > .container-dosen > .price-training,
  .horizontal-ptraining > .card-ptraining-training > .card > .container-ptraining > .price-training {
    font-size: 30px;
  }

  .squares-ptraining {
    /* padding:60px 0 0 0; */
    /* margin-left: -160px; */
    margin-left: -500px;
  }

  .btn-training {
    width: 195px;
    height: 53px;
    font-size: 20px;
    margin-bottom: 10px;
    background-color: #f94451;
    border: 1px solid #f94451;
    font-weight: 800;
  }

  .desktopOnly {
    display: none !important;
  }

  .request {
    height: 100%;
  }

  .btn-ingintahu {
    width: 274px;
    height: 63px;
    font-size: 23px;
    margin-top: 63px;
    border-radius: 8px;
  }

  .mobileIngintahu {
    padding: 20px 50px 0;
    width: 480px;
    height: 718px;
  }

  .title-ingintahu {
    font-size: 34px;
    color: #133d60;
  }

  .subtitle-ingintahu {
    font-size: 15px;
    color: #133d60;
    line-height: 21px;
    padding: 5px;
    text-align: center;
  }

  .text-ingintahu,
  .text-ingintahu::placeholder {
    font-size: 17px;
    margin: 25px 10%;
  }

  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: white;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 6%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    left: 10px;
  }

  .overlay div {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .overlay div:hover,
  .overlay div:focus {
    color: #f1f1f1;
  }

  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  .img-menu-mobile {
    margin-top: 9px;
    width: 86px;
    height: 27px;
    margin-left: 19px;
  }

  .mb-0 > a {
    display: block;
    position: relative;
  }
  .mb-0 > a:after {
    font-family: "Glyphicons Halflings";
    content: "\e080";
    float: right;
    color: #133d60;
    font-size: 14px;
    margin-right: 11px;
    margin-top: 3px;
  }
  .mb-0 > a[aria-expanded="true"]:after {
    content: "\e114";
  }

  .mb-1 > a {
    display: block;
    position: relative;
  }
  .mb-1 > a:after {
    font-family: "Glyphicons Halflings";
    content: "\e080";
    float: right;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    margin-right: 142px;
    margin-top: 9px;
  }
  .mb-1 > a[aria-expanded="true"]:after {
    content: "\e114";
  }

  .footer-title-m {
    font-size: 28px;
    font-weight: 700;
    font-style: italic;
    text-align: left;
    color: white;
    padding-left: 138px;
    letter-spacing: 1px;
    font-family: "Barlow", sans-serif;
  }

  .background-transparent {
    background-color: transparent;
  }

  .nav-item .active {
    font-weight: 700;
  }

  .img-tabmenu {
    width: 400px;
    height: 201px;
  }

  .container-review {
    padding: 0;
    margin-left: 10px;
  }

  .lihat-semua-dosen {
    transform: rotate(0deg) translateY(110px);
    padding-right: 0;
    margin-left: 20px;
  }

  .lihat-semua-ptraining {
    transform: rotate(0deg) translateY(110px);
    margin-left: 35px;
  }
  .newsLetter {
    position: relative;
    text-align: center;
    color: white;
    background-image: url(./../assets/image/bg-newslatter.png);
    height: 199px;
    width: 480px;
  }
  .img-logo-w {
    width: 152px;
    height: 48px;
  }
  .description-footer {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    letter-spacing: 1.12px;
    line-height: 23px;
  }
  .img-socmed-mobile {
    width: 30px;
    height: 30px;
    margin: 0 12px 0 13px;
  }
  .media-sosial {
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1.9px;
    font-family: "Open Sans", sans-serif;
  }
  .lihat-semua {
    color: #fc0152;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    margin: 20px 60px;
    margin: -50px -15px -24px;
  }
  .all-review {
    margin: 25px 5px 0 0 !important;
  }
  .all-univ {
    margin: 20px -5px -30px !important;
  }
  .text-title-training {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    line-height: 42px;
    font-size: 30px;
    letter-spacing: 1px;
    margin-left: -25px;
    margin-top: 110px;
    margin-bottom: 70px;
  }
  .sub-title {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
  }
  .title-program-training {
    font-family: "Barlow", sans-serif;
    letter-spacing: 1px;
    font-size: 30px;
    margin-top: 100px;
    margin-left: -4px;
    margin-bottom: 22px;
  }
  .img-dosen {
    width: 362px;
    height: 215px;
  }
  .container-dosen {
    width: 100%;
    padding: 7px 35px;
  }
  .title-dosen-m {
    font-family: "Barlow", sans-serif;
    font-size: 30px;
    letter-spacing: 0.6px;
  }
  .title-review {
    font-family: "Barlow", sans-serif;
    font-size: 23px;
    color: #fff;
    font-weight: 900;
    line-height: 19px;
    letter-spacing: 1px;
  }
  .position-review {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: italic;
    color: #fff;
    line-height: 19px;
    letter-spacing: 1px;
    font-weight: 600;
  }
  .description-review {
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    font-style: italic;
    color: #fff;
    letter-spacing: 1px;
    line-height: 19px;
  }
  .cerita-mahasiswa {
    left: 72%;
  }
  .btn-cerita-mahasiswa {
    color: #fff;
    font-size: 15px;
    font-weight: 900;
    background-color: #f94451;
    border: 1px solid #f94451;
    border-radius: 5px;
    width: 124px;
    height: 31px;
    padding: 4px;
  }
  .btn-ijazah {
    font-size: 20px;
    color: #133d60;
    font-weight: 900;
    letter-spacing: 1px;
    font-family: "Barlow", sans-serif;
  }
  .title-promo {
    font-size: 30px;
    line-height: 40px;
    font-family: "Barlow", sans-serif;
  }
  .btn-request {
    color: #fff;
    font-size: 12px;
    font-weight: 900;
    background-color: #f94451;
    border: 1px solid #f94451;
    border-radius: 5px;
    width: 98px;
    height: 26px;
    padding: 0px;
    margin-left: 2px;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .lihat-semua {
    font-size: 30px;
    margin: 20px 20px;
  }

  .ml-30 {
    margin-left: 0;
  }

  .font-heading {
    font-size: 40px;
  }

  .img-logo-header {
    width: 140px;
    height: 45px;
  }
  .menu {
    font-size: 17px;
    margin-right: 30px;
    margin-left: 23px;
  }
  .navbar-nav > li {
    margin-top: -15px;
    padding: 0;
  }

  .header-top {
    margin-top: 15px;
    margin-left: 25px;
  }
  .header-top > a > .btn-cerita-mahasiswa {
    margin-left: 35px;
  }
  .navbar {
    margin-bottom: -15px;
  }
  .input-group .form-control {
    height: 32px;
    width: 280px;
  }

  .img-slider {
    height: 550px;
  }

  .img-univ {
    width: 210px;
    height: 210px;
  }
  .card-univ {
    margin: 17px;
  }
  .text-univ {
    font-size: 25px;
    width: 210px;
    margin: 0 17px;
  }
  .jurusan {
    width: 280px;
    height: 140px;
    margin: 0 15px 0 15px;
  }
  .text-jurusan,
  .text-training {
    font-size: 30px;
    padding: 35px;
  }

  .img-banner {
    height: 250px;
  }

  .tampung-tab {
    margin: 0;
  }
  .img-tabmenu {
    width: 100%;
    height: 100%;
    margin-top: -20px;
  }
  .tab-description {
    font-size: 25px;
    margin: 0;
  }
  .with-nav-tabs.panel-primary {
    width: 100%;
  }
  .with-nav-tabs.panel-primary .nav-tabs > li > a,
  .with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
  .with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    font-size: 17px;
    margin: 20px 10px 0px 10px;
    padding: 10px 40px;
  }
  .with-nav-tabs.panel-primary {
    margin: 0 0 40px 0;
  }

  .btn-request {
    width: 140px;
    height: 35px;
    font-size: 15px;
    border-radius: 4px;
    margin-left: -35px;
  }
  .request {
    height: 616px;
  }
  .img-request {
    height: 587px;
    width: 100%;
  }

  .mobileIngintahu {
    padding: 20px 100px 0;
  }
  .title-ingintahu {
    font-size: 35px;
  }
  .subtitle-ingintahu {
    font-size: 14px;
    padding: 0 60px;
  }
  .text-ingintahu {
    font-size: 17px;
    margin: 20px 10%;
  }
  .btn-ingintahu {
    font-size: 20px;
    width: 190px;
    height: 50px;
    border-radius: 8px;
  }
  input:focus {
    border-bottom: 2px solid;
  }

  .container-review {
    padding: 0;
  }
  .img-cerita {
    width: 575px;
    height: 335px;
    background-size: 575px 335px !important;
  }
  .bg-cerita-mahasiswa {
    width: 575px;
    height: 335px;
  }
  .cerita-mahasiswa {
    left: 70%;
  }
  .tampung-review {
    margin: 3rem 50px 0 57px;
  }
  .title-review {
    font-size: 35px;
  }
  .position-review {
    font-size: 22px;
  }
  .description-review {
    font-size: 13px;
  }
  .btn-cerita-mahasiswa {
    font-size: 15px;
    width: 150px;
    height: 35px;
  }

  .desktopDosen {
    margin: 0 30px !important;
  }
  .card,
  .card-ptraining-desk {
    width: 380px;
    height: 500px;
  }
  .img-dosen {
    height: 225px;
  }
  .container-dosen,
  .container-ptraining-desk {
    padding: 15px 25px;
  }
  .title-dosen,
  .title-ptraining-desk {
    font-size: 22px;
  }
  .position-dosen,
  .position-ptraining-desk {
    font-size: 12px;
  }
  .description-dosen,
  .description-ptraining-desk {
    font-size: 12px;
  }
  .price-ptraining-desk {
    font-size: 25px;
    margin-top: 10px;
  }
  .btn-detail {
    width: 160px;
    height: 40px;
    font-size: 20px;
    left: 27%;
  }
  .baca-selengkapnya {
    font-size: 17px;
    bottom: 10px;
  }

  .newsLetter {
    height: 300px;
  }
  .text-newsLetter {
    top: 28%;
    width: 75%;
    font-size: 40px;
  }
  form.example input[type="text"] {
    width: 650px;
    height: 50px;
  }
  form.example button {
    width: 150px;
    font-size: 22px;
    font-weight: 700;
    border-radius: 5px;
    height: 40px;
    margin-left: -15%;
    margin-top: 7px;
    padding: 0;
  }
  .footer-dekstop {
    padding: 10px 0px 0px 10px;
    height: 570px;
  }
  .footer-desc {
    font-size: 15px;
    line-break: 28px;
  }
  .footer-title {
    font-size: 30px;
  }
  .footer-subtitle {
    font-size: 18px;
    margin: 20px 0;
  }
  .footer-small {
    font-size: 17px;
  }
  .footer-left {
    width: 30%;
  }
  .footer-right {
    margin-left: 60px;
  }
  .media-sosial {
    margin-top: 35px;
    font-size: 25px;
  }
  .img-logo-w {
    width: 180px;
    height: 55px;
  }
  .img-socmed {
    width: 30px;
    height: 30px;
    margin: 0 20px 0 0px;
  }
}
