::ng-deep.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2.25rem;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border-right: 0px solid !important;
}

::ng-deep .input-group-addon {
  margin-bottom: 0px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: rgb(73, 80, 87);
  text-align: center;
  background-color: rgb(233, 236, 239);
  padding: 0.5rem 0.75rem;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.15);
  border-image: initial;
  border-radius: 0 38px 38px 0;
}

::ng-deep .input-group {
  position: relative;
  display: -ms-flexbox;
  /* display: flex; */
  width: 100%;
}

.menu {
  color: #2291ee;
  font-size: 20px;
}

.img-slider {
  height: 550px;
  width: 100%;
}

::ng-deep .carousel-indicators li {
  width: 0.625rem;
  height: 0.625rem;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  or: pointer;
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  /* border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; */
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

.carousel-control-next-icon {
  border-radius: 100%;
  width: 45px;
  height: 45px;
  padding: 26px;
  right: -0.3%;
  top: 46%;
  background-image: url(/assets/image/next.png);
  background-size: 40px 40px;
}

.carousel-control-prev-icon {
  border-radius: 100%;
  width: 45px;
  height: 45px;
  padding: 26px;
  left: -0.5%;
  top: 46%;
  background-image: url(/assets/image/previous.png);
  background-size: 40px 40px;
}

.text-promo {
  font-family: barlow;
  font-size: 40px;
  font-weight: 600;
  color: #133d60;
}

.card-univ {
  background-color: #fff;
  border-radius: 5px;
  padding: 0 0 10px 0;
  -webkit-box-shadow: -1px 0px 13px 2px #ccc;
  margin-bottom: 20px;
  /* width: 220px;
  height: 220px; */
  text-align: center;
  margin: 20px;
}

.img-univ {
  height: 210px;
  width: 210px;
  padding: 16px;
}

.text-univ {
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  height: 100px;
  padding: 16px;
  color: #133d60;
  font-size: 20px;
  font-weight: 700;
  width: 210px;
  margin: 0 20px;
}

.lihat-semua {
  /* font-size: 20px;
  font-family: OpenSans-Bold; */
  color: #fc0152;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.lihat-semua-dosen {
  color: #fc0152;
  /* margin-left: 125px; */
  width: 100%;
  padding-right: 20px;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  transform-origin: top right;
  transform: rotate(0deg) translateY(65px);
}

.jurusan {
  position: relative;
  text-align: center;
  color: white;
  /* height: 200px; */
  width: 285px;
  margin: 10px;
}

.text-jurusan {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 45%;
  transform: translate(-50%, -50%);
  font-size: 35px;
}

.text-training {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 45%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

.banner {
  position: relative;
  text-align: center;
  color: white;
  height: 400px;
  width: 100%;
  /* margin: 10px; */
}

.text-banner {
  position: absolute;
  top: 30%;
  width: 100%;
  /* margin: auto; */
  left: 45%;
  /* -webkit-transform: translate(-50%, -50%); */
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #fff;
}

.request {
  /* background-image: url(/assets/image/mask.png); */
  background-color: #FFCC01;
  height: 600px;
  width: 100%;
  margin: 0 !important;
}

.img-request {
  height: 600px;
  width: auto;
}

.cerita-mahasiswa {
  position: absolute;
  top: 50%;
  width: 50%;
  left: 74%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 35px;
}

.title {
  font-family: Barlow-SemiBold;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.position {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: italic;
  color: #fff;
}

.description {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-style: italic;
  color: #fff;
}

.container-dosen {
  width: 100%;
}

.container-review {
  /* background-color: pink; */
  border-radius: 5px;
  margin-top: 20px;
}

::ng-deep .card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem;
  padding: 0;
}

.title-dosen {
  font-family: Barlow-SemiBold;
  font-size: 25px;
  letter-spacing: 1.58px;
}

.position-dosen {
  font-family: OpenSans;
  font-size: 15px;
  font-style: italic;
  letter-spacing: 0.92px;
}

.description-dosen {
  font-family: OpenSans;
  font-size: 15px;
  letter-spacing: 0.92px;
}

.sub-title {
  font-size: 30px;
  font-family: OpenSans;
}

.price-training {
  font-family: Barlow-ExtraBold;
  color: #0baae8;
  font-size: 30px;
}

.newsLetter {
  position: relative;
  text-align: center;
  color: white;
  background-image: url(./../assets/image/bg-newslatter.png);
  height: 250px;
}

.text-newsLetter {
  position: absolute;
  top: 24%;
  margin: auto;
  width: 59%;
  left: 51%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 35px;
  display: -ms-flexbox !important;
  display: flex;
}

form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  float: left;
  width: 600px;
  background: #fff;
  border-radius: 10px;
  height: 56px;
  position: absolute;
  top: 72%;
  left: 51%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

form.example button {
  float: left;
  width: 200px;
  padding: 8px;
  background: #f94451;
  color: white;
  font-size: 17px;
  border-left: none;
  cursor: pointer;
  border-radius: 10px;
  height: 46px;
  margin-left: -19%;
  margin-top: 6px;
  margin-right: -1px;
  position: absolute;
  top: 69.8%;
  left: 85%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.footer {
  background-image: url(./../assets/image/bg-footer.png);
  height: 350px;
  color: #fff
}

.footer-title {
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  text-align: left;
}

.footer-subtitle {
  font-size: 15px;
  text-align: left;
}

.footer-small {
  font-size: 10px;
  font-style: italic;
  text-align: right;
  margin-top: 10px;
  margin-right: -80px;
}

.img-logo-w{
  width: 180px;
  height: 63px;
}

.img-socmed {
  width: 26px;
  height:26px ;
  margin: 0 12px 0 0px;
}
.fade {
  opacity: 1;
  transition: opacity .15s linear;
  padding: 30px 40px;
}

.fade:not(.show) {
  opacity: 0;
}

.img-tabmenu {
  width: 100%;
  border-radius: 10px;
}

.tab-description {
  font-size: 20px;
  font-weight: 700;
  margin-top: 50px;
  color: #133d60;
}

.btn-ingintahu {
  background-color: #F84851;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 7px;
}

.title-ingintahu {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
}

.subtitle-ingintahu {
  font-size: 17px;
  text-align: center;
}

.text-ingintahu {
  display: block;
  width: 100%;
  font-size: 18px;
  font-style: italic;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border-radius: 0;
  border: 0;
  padding: 5px 0;
  border-bottom: 1px solid #133d60;
  color: #133d60;
  background: #FFCC01;
  margin: 20px 0;
}

.text-ingintahu::placeholder {
  color: #133d60;
}

section.section {
  background: transparent;
}

.slideshow {
  box-shadow: 0px 0px 40px rgba(0,0,0,.3);
}

.slideshow > .slide > img {
  max-width: 100%;
  width: 100%;
}

.slideshow > .slick-prev:before, .slick-next:before {
  color: black;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.with-nav-tabs.panel-primary>.panel-body {
  box-shadow: 0 -1px 14px 2px rgba(0, 0, 0, 0.08);
  border-radius: 10px 10px 10px 10px;
}

.with-nav-tabs.panel-primary, .with-nav-tabs.panel-primary .nav-tabs {
  border: none;
}

.with-nav-tabs.panel-primary>.panel-heading {
  padding: 10px 15px 0px 15px;
  border-bottom: none;
  background-color: white;
}

.with-nav-tabs.panel-primary .nav-tabs > li > a.active {
  background-color: white;
}

.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #133d60;
    font-weight: bold;
    background-color: #E6E4E4;
    margin-right: 15px;
    padding: 15px 15px;
    box-shadow: 0 -10px 14px 2px rgba(0, 0, 0, 0.08);
    border-radius: 10px 10px 0 0;
    font-size: 20px;
    border-bottom: 1px solid white;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
	background-color: white;
	border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
	color: #133d60;
	background-color: #fff;
	border-color: transparent;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;   
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
}

.horizontal-dosen {
  display:block;
  top:0;
  left:0;
  width:560px;
  max-height:420px;
  margin:0;
  /* background:#abc; */
  overflow-y:auto;
  overflow-x:hidden;
  transform:rotate(-90deg) translateY(-80px);
  transform-origin:right top;
}

.horizontal-dosen > .card-dosen{
  display:block;
  /* padding:5px; */
  /* background:#cab; */
  transform:rotate(90deg);
  /* transform-origin: right top; */
}

.horizontal-dosen > .card-dosen-training{
  display:block;
  /* padding:5px; */
  /* background:#cab; */
  transform:rotate(90deg);
  /* transform-origin: right top; */
}

.horizontal-scroll-wrapper{
  /* position:absolute; */
  display:block;
  top:0;
  left:0;
  width:560px;
  max-height:480px;
  margin:0;
  /* background:#abc; */
  overflow-y:auto;
  overflow-x:hidden;
  transform:rotate(-90deg) translateY(-80px);
  transform-origin:right top;
}
.horizontal-scroll-wrapper > .card-image{
  display:block;
  /* padding:5px; */
  /* background:#cab; */
  transform:rotate(90deg);
  /* transform-origin: right top; */
}

.horizontal-scroll-wrapper > .card-text{
  display:block;
  width: 210px;
  /* padding:5px; */
  /* background:#cab; */
  transform:rotate(90deg);
  /* transform-origin: right top; */
}

.squares{
  /* padding:60px 0 0 0; */
  /* margin-left: -160px; */
  margin-left: -480px;
}

.squares > .card-image{
  /* margin:30px; */
  margin: -130px 30px -300px;
}

.squares > .card-text{
  /* margin:30px; */
  /* margin: -130px 30px -235px; */
}

::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}

.mobileUniv, .mobileJurusan, .mobileTraining, .mobileDosen {
  display: none;
}

.desktopUniv, .desktopJurusan, .desktopTraining, .desktopDosen {
  display: block;
}

@media(max-width: 480px){
  .mobileUniv, .mobileJurusan, .mobileTraining, .mobileDosen {
    display: block;
  }
  
  .desktopUniv, .desktopJurusan, .desktopTraining, .desktopDosen {
    display: none;
  }

  .img-univ {
    height: 108px;
    width: 108px;
    padding: 16px;
  }
  .text-univ {
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    height: 100px;
    padding: 15px 0px;
    color: #133d60;
    font-size: 13px;
    font-weight: 700;
    width: 108px;
    margin-left: 190px;
    margin-top: -15px;
  }
  .horizontal-scroll-wrapper{
    /* position:absolute; */
    display:block;
    top:0;
    left:0;
    width:560px;
    height:420px;
    margin:0;
    /* background:#abc; */
    overflow-y:auto;
    overflow-x:hidden;
    transform:rotate(-90deg) translateY(-80px);
    transform-origin:right top;
  }
  .horizontal-scroll-wrapper > .card-text{
    display:block;
    width: 120px;
    /* padding:5px; */
    /* background:#cab; */
    transform:rotate(90deg);
    /* transform-origin: right top; */
  }
  .squares{
    /* padding:60px 0 0 0; */
    /* margin-left: -160px; */
    margin-left: -500px;
  }
  .squares > .card-image{
    /* margin:30px; */
    margin: -140px 30px -290px;
  }

  .squares > .card-image > .card-text{
    margin-bottom: -40px;
    /* width: 100px; */
    /* margin:30px; */
    /* margin: -130px 30px -235px; */
  }

  /* styling horizontal jurusan */

  .img-jurusan {
    /* height: 115px;
    width: 190px; */
    height: 78px;
    width: 168px;
    padding: 16px;
  }
  .text-jurusan {
    background-color: transparent;
    border-radius: 5px;
    text-align: center;
    height: 50px;
    padding: 16px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    width: 140px;
    /* margin-left: -66px; */
    margin-left: 5px;
  }
  .horizontal-jurusan{
    /* position:absolute; */
    display:block;
    top:0;
    left:0;
    width:560px;
    height:420px;
    margin:0;
    margin-top: -220px;
    /* background:#abc; */
    overflow-y:auto;
    overflow-x:hidden;
    transform:rotate(-90deg) translateY(-80px);
    transform-origin:right top;
  }

  .horizontal-jurusan > .card-image-jurusan{
    display:block;
    /* padding:5px; */
    /* background:#cab; */
    transform:rotate(90deg);
    /* transform-origin: right top; */
  }

  .horizontal-jurusan > .card-text-jurusan{
    display:block;
    width: 120px;
    /* padding:5px; */
    /* background:#cab; */
    transform:rotate(90deg);
    /* transform-origin: right top; */
  }

  .squares-jurusan{
    /* padding:60px 0 0 0; */
    /* margin-left: -160px; */
    margin-left: -500px;
    margin-top: -320px;
  }

  .squares-jurusan > .card-image-jurusan{
    /* margin:30px; */
    /* margin: -140px 30px -290px; */
    /* margin: 110px 100px 0px; */
    /* margin: 110px 130px 0px; */
    margin: 35px 0 125px 145px;
    width: 175px;
  }

  .squares-jurusan > .card-image-jurusan > .card-text-jurusan{
    margin-bottom: -60px;
    /* width: 100px; */
    /* margin:30px; */
    /* margin: -130px 30px -235px; */
  }

  .squares-dosen{
    /* padding:60px 0 0 0; */
    /* margin-left: -160px; */
    margin-left: -500px;
  }

  .horizontal-dosen > .card-dosen {
    /* width: 360px; */
    margin: 0px 0 -80px 70px;
  }

  .horizontal-dosen > .card-dosen > .card {
    width: 360px;
  }

  .horizontal-dosen > .card-dosen > .card > .container-dosen > .title-dosen {
    font-size: 20px;
    margin-top: 10px;
  }

  .horizontal-dosen > .card-dosen > .card > .container-dosen > .position-dosen {
    font-size: 12px;
  }

  .horizontal-dosen > .card-dosen > .card > .container-dosen > .description-dosen {
    font-size: 14px;
  }

  .horizontal-dosen > .card-dosen-training {
    /* width: 360px; */
    margin: 0px 0 -100px 70px;
  }

  .horizontal-dosen > .card-dosen-training > .card {
    width: 360px;
  }

  .horizontal-dosen > .card-dosen-training > .card > .container-dosen > .title-dosen-training {
    font-size: 26px;
    margin-top: 10px;
  }

  .horizontal-dosen > .card-dosen-training > .card > .container-dosen > .price-training {
    font-size: 30px;
  }

  .btn-training {
    width: 155px;
    height: 40px;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .desktopOnly {
    display: none !important;
  }

  .btn-ingintahu {
    width: 170px;
    height: 40px;
    font-size: 15px;
  }

  .mobileIngintahu {
    padding: 50px;
  }

  .title-ingintahu {
    font-size: 25px;
  }

  .subtitle-ingintahu {
    font-size: 12px;
  }

  .text-ingintahu, .text-ingintahu::placeholder {
    font-size: 12px
  }
}

@media(max-width: 370px){
  .lihat-semua-dosen {
    margin-left: 115px;
    transform: rotate(0deg) translateY(35px);
  }
}